{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <p>{% trans "Check your key manager to see which algorithms and bit lengths are supported." %}</p>
  <p>{% trans "A key pair consists of a private key and a public key. When you generate a public key, the private key will also be generated, and vice versa." %}</p>
  <p>{% trans "You can find the corresponding private key on the " %}<a href="{% url 'horizon:project:private_keys:index' %}">Private Keys</a> {% trans "page." %}</p>

{% endblock %}

